@import "../../scss/variables.scss";

.result-block {
  position: relative;
  height: calc(100% - 80px);
  width: calc(50% - 50px);
  padding: 40px;
  padding-left: 25px;
  padding-right: 25px;
  min-width: 250px;
  max-width: 400px;
  background-color: $darkblue-background;
  border-radius: 15px;
}

.payment-block {
  display: flex;
  justify-content: space-between;
  color: $white-text-color;
  font-family: RobotoSlab;
}

.payment-description {
  overflow-wrap: break-word;
  line-height: 20px;
}

.payment-per-person {
  color: $light-dark-text-color;
}

.payment-per-person::before {
  content: "\a";
  white-space: pre;
}

.payment-amount {
  font-size: 40px;
  margin-top: 0px;
  color: $turquoise;
}

@media screen and (max-width: 706px) {
  .result-block {
    margin-top: 45px;
    width: 74%;
    height: auto;
    max-width: unset;
  }
}

@media screen and (max-width: 515px) {
  .result-block {
    width: 85%;
    min-width: unset;
  }
}
