@import "../../scss/variables.scss";

.button {
  float: left;
  width: 100px;
  height: 40px;
  position: relative;
  background-color: $button-dart-text-color;
  border-radius: 5px;
  font-family: RobotoSlab;
  font-size: 18px;
  text-align: center;
  margin: 5px;
  margin-top: 10px;
  margin-left: 0px;
  min-width: 100px;

  label,
  input {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
    color: $white;
  }

  label {
    cursor: pointer;
    z-index: 90;
    line-height: 1.8em;
  }

  input[type="radio"] {
    opacity: 0.011;
    z-index: 100;

    &:checked + label {
      background: $dark-white;
      border-radius: 4px;
      color: $button-dart-text-color;
    }
  }
}

input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
