@import "../../../../scss/variables.scss";

.add-ons__wrapper {
  position: relative;
  max-width: 480px;
  width: 100%;
  height: calc(100% - 40px);
}

.block-title {
  color: $form-title-text-color;
  font-family: RobotoSlab;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 0px;
}

.block-subtitle {
  color: $light-dark-text-color;
  margin-top: 10px;
  font-family: RobotoSlab;
  font-size: 16px;
  padding-bottom: 25px;
}

.buttons-block {
  width: 100%;
  position: absolute;
  bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.select-block {
  padding-bottom: 20px;
}
