@import "../../../scss/variables.scss";

.side-block {
  width: 100%;
  margin-top: 40px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}

.step__wrapper {
  display: flex;
  font-family: RobotoSlab;
  padding-bottom: 20px;
}

.step-number {
  width: 30px;
  height: 30px;
  color: $white;
  border: 1px solid $white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin-right: 10px;
}

.active {
  color: black;
  background-color: #bee1ff;
}

.step-info-block {
  display: flex;
  flex-direction: column;
}

.step-number-text {
  font-size: 10px;
  color: $dark-white-text-color;
}

.step-info-text {
  font-size: 14px;
  color: $white;
}
