@import "../../../../../scss/variables.scss";

.plan-wrapper {
  height: 130px;
  width: 110px;
  border: 2px solid $grey-border-plan;
  border-radius: 5px;
  padding: 15px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &:hover {
    border: 2px solid $blue-border-active-plan;
  }
}

.active {
  border: 2px solid $blue-border-active-plan;
  background-color: $background-active-plan;
}

.plan-name {
  margin: 0;
  color: $form-title-text-color;
  font-family: RobotoSlab;
}

.plan-price {
  margin: 0;
  margin-top: 3px;
  color: $light-dark-text-color;
  font-family: RobotoSlab;
}
