$blue: #a0e7df;
$white: #fff;
$dark-white: #9fe8df;
$lightblue-background: #c5e4e7;
$darkblue-background: #00474b;
$turquoise: #26c1ac;
$lightblue-logo: #446769;
$border-input: #59aaa0;
$background-input: #f3f8fb;
$input-text: #0e5257;
$dark-text-color: #677a7b;
$white-text-color: #eaffff;
$light-dark-text-color: #5d9195;
$error: #b58070;
$button-dart-text-color: #004140;
$icon-stroke:#abbfc0;