$blue: #a0e7df;
$white: #fff;
$lightblue-background: #c5e4e7;
$darkblue-background: #00474b;
$turquoise: #26c1ac;
$lightblue-logo: #446769;
$border-input: #59aaa0;
$background-input: #f3f8fb;
$text-color: #677a7b;
$input-text: #0e5257;
