$blue: #a0e7df;
$white: #fff;
$turquoise: #26c1ac;
$dark-white: #9fe8df;

$lightblue-background: #c5e4e7;
$darkblue-background: #00474b;

$icon-stroke: #abbfc0;
$lightblue-logo: #446769;

$border-input: #59aaa0;
$background-input: #f3f8fb;

$input-text: #0e5257;
$dark-text-color: #677a7b;
$white-text-color: #eaffff;
$dark-white-text-color: #a7abfe;
$light-dark-text-color: #5d9195;
$button-dart-text-color: #004140;
$form-title-text-color: #082a61;

$dark-blue-button-color: #01295a;

$blue-border-active-plan: #61599d;
$grey-border-plan: #dddce1;
$background-active-plan: #f8f9fe;

$background-period: #f8f9fe;

$background-switch: #02295c;
$error: #b58070;
