@import "../../scss/variables.scss";

.data-block {
  display: flex;
  flex-direction: column;
  max-width: calc(50% - 50px);
  min-width: 250px;
  padding-right: 15px;
}

.radio-group {
  position: relative;
  color: $dark-text-color;
  font-weight: bold;
  font-size: 17px;
  letter-spacing: 0.1rem;
  font-family: RobotoSlab;
  margin-top: 35px;
  padding-bottom: 10px;
}

.group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 35px;
}

.input-label {
  color: $dark-text-color;
  font-weight: bold;
  font-size: 17px;
  letter-spacing: 0.1rem;
  font-family: RobotoSlab;
  position: relative;
}

.error {
  color: $error;
  position: absolute;
  right: 0;
  margin-left: auto;
}

.above {
  display: inline;
}

.below {
  display: none;
}

@media screen and (max-width: 1005px) {
  .above {
    display: none;
  }

  .below {
    display: inline;
  }
}

@media screen and (max-width: 706px) {
  .data-block {
    width: 74%;
    max-width: unset;
  }

  .above {
    display: inline;
  }

  .below {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .above {
    display: none;
  }

  .below {
    display: inline;
  }
}

@media screen and (max-width: 515px) {
  .data-block {
    width: 85%;
  }

  .input-label {
    letter-spacing: unset;
  }

  .radio-group {
    letter-spacing: unset;
  }

  .above {
    display: inline;
  }

  .below {
    display: none;
  }
}

@media screen and (max-width: 400px) {
  .above {
    display: none;
  }

  .below {
    display: inline;
  }
}
